{% extends '::base.html.twig' %}

{%  block body %}
    <div class="container">
        
        <br>
        <form action ="{{path('modificarPlan')}}" method="post">

            {{form_widget(form)}}
            <button type="submit" class="btn btn-primary">Actualizar plan</button>
        </form>
        <br>
        {% if error != '-' %}
            <div class="alert alert-danger" role="alert">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}