{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Login:Login{% endblock %}

{% block body %}
    <div class="container">
        <form action ="{{path('_login')}}" method="post">

            {{form_widget(form)}}
            <input type="submit"/>
        </form>
    </div>
            
            {% if nota != "-" %}
                <p>{{ nota }}</p>
            {% endif %}
{% endblock %}
