{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Login:Login{% endblock %}

{% block body %}
    <div class="container">
        <form action ="{{path('_login')}}" method="post">

            {{form_widget(form)}}
            <input type="submit" value="Iniciar sesion"/>
        </form>
        {% if errores != '-' %}
            <div class="alert alert-danger" role="alert">
                <p>{{ errores }}</p>
            </div>
        {% endif %}
    </div>


{% endblock %}
