{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:asignarDieta{% endblock %}

{% block body %}
    <div class="container">


        {% if administrador is defined and administrador == "true"%}
            <nav class='navbar navbar-light bg-light row'>
                <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/verResumenCliente'>Resumen de mis clientes</a>
                <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Admin'>Administracion</a>
                <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Logout'>Logout</a>
            </nav>

        {% endif %}

        <form action ="{{path('asignar_dieta')}}" method="post">

            {{form_widget(form)}}
            <input type="submit" value="Asignar dieta"/>
        </form>
        {% if error != '-' %}
            <div class="alert alert-danger" role="alert">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
