{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:asignarTablaCliente{% endblock %}

{% block body %}
<h1>Welcome to the Administracion:asignarTablaCliente page</h1>
{% endblock %}
