{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:buscarCliente{% endblock %}

{% block body %}
<h1>Welcome to the Administracion:buscarCliente page</h1>
{% endblock %}
