{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:crearDieta{% endblock %}

{% block body %}
    <div class="container">
        <nav class='navbar navbar-light bg-light row'>
            <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/verResumenCliente'>Resumen de mis clientes</a>
            <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Admin'>Administracion</a>
            <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Logout'>Logout</a>
        </nav>
        <br>
        <form action = "{{ path('crear_dieta') }}" method="POST">
            {{ form_widget(form) }}
            <button type="button" class="btn btn-primary">Crear dia de la dieta</button>
            {% if diasInsertados < 7 %}
                <button type="submit" class="btn btn-secondary" disabled>Guardar dieta</button>
                <small class="alert alert-info" role="alert">Debes crear los 7 dias de la dieta, dias creados: {{ diasInsertados }}</small>
            {% else %}
                <button type="submit" class="btn btn-primary">Guardar dieta</button>
            {% endif %}

        </form>
        <br>
        {% if error != "-" %}
            <div class="alert alert-danger" role="alert">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
