{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:gestionarEmpleados{% endblock %}

{% block body %}
<h1>Welcome to the Administracion:gestionarEmpleados page</h1>
{% endblock %}
