{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:nuevoEjercicio{% endblock %}

{% block body %}
<h1>Welcome to the Administracion:nuevoEjercicio page</h1>
{% endblock %}
