{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:nuevoEmpleado{% endblock %}

{% block body %}
<h1>Welcome to the Administracion:nuevoEmpleado page</h1>
{% endblock %}
