{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:principalAdministracion{% endblock %}

{% block body %}
<h1>Welcome to the Administracion:principalAdministracion page</h1>
{% endblock %}
