{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        
    {% if administrador is defined and administrador == "true"%}
         <nav class='navbar navbar-light bg-light row'>
             <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/verResumenCliente'>Resumen de mis clientes</a>
             <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Inicio'>Inicio</a>
             <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Logout'>Logout</a>
         </nav>
        {% if dietas is defined and dietas == "true" %}
            <h2>Gestión de dietas</h2>
            <p><a href="/motofitnessSymfony/web/app_dev.php/asignarDieta">Asignar dieta a cliente</a></p>
            <p><a href="/motofitnessSymfony/web/app_dev.php/crearDieta">Crear nueva dieta</a></p>
            <p><a href="/motofitnessSymfony/web/app_dev.php//verDietaAdmin">Ver una dieta</a></p>
        {% endif %}

        {% if tablas is defined and tablas == "true" %}
            <h2>Gestión de tablas</h2>
            <p><a href="/motofitnessSymfony/web/app_dev.php/asignarTablaCliente">AAsignar tablas a cliente</a></p>
            <p><a href="/motofitnessSymfony/web/app_dev.php/nuevaTabla">Insertar nueva tabla</a></p>
            <p><a href="/motofitnessSymfony/web/app_dev.php/nuevaSesion">Nueva sesión</a></p>
            <p><a href="/motofitnessSymfony/web/app_dev.php/nuevoEjercicio">Nuevo ejercicio</a></p>
        {% endif %}

        {% if empleados is defined and empleados == "true" %}
            <h2>Gestión de empleados</h2>
            <p><a href="/motofitnessSymfony/web/app_dev.php/nuevoEmpleado">Añadir nuevo empleado</a></p>
            <p><a href="/motofitnessSymfony/web/app_dev.php/gestionarEmpleados">Gestionar empleados existentes</a></p>
        {% endif %}
        <p><a href="/motofitnessSymfony/web/app_dev.php/buscarCliente">Buscar cliente</a></p>
    {% endif %}
    
    {% if nota is defined %}
        {{ nota }}
    {% endif %}
    </div>
{% endblock %}
