{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:verDieta{% endblock %}

{% block body %}
<h1>Welcome to the Administracion:verDieta page</h1>
    {{form_widget(form)}}
{% endblock %}
