{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:verDieta{% endblock %}

{% block body %}


    <div class="container">
        {% if administrador is defined and administrador == "true"%}
            <nav class='navbar navbar-light bg-light row'>
                <a class='navbar-brand' href='#'>Resumen de mis clientes</a>
                <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Admin'>Administracion</a>
                <a class='navbar-brand' href='/motofitnessSymfony/web/app_dev.php/Logout'>Logout</a>
            </nav>

        {% endif %}
        {% if form is defined %}
            <form action ="{{path('ver_dieta')}}" method="post">

                {{form_widget(form)}}
                <input type="submit" value="Ver dieta"/>
            </form>
        {% endif %}


        {% if dietaMostrar is defined and dietaMostrar != "-"%}
            {{ dietaMostrar }}
        {% endif %}
    </div>
{% endblock %}
