{% extends "::base.html.twig" %}

{% block title %}MOTOPrincipalBundle:Administracion:verDieta{% endblock %}

{% block body %}
<h1>Welcome to the Administracion:verDieta page</h1>
    
    {% if form is defined %}
        <form action ="{{path('ver_dieta')}}" method="post">

            {{form_widget(form)}}
            <input type="submit" value="Ver dieta"/>
        </form>
    {% endif %}
        
    
    {% if dietaMostrar is defined and dietaMostrar != "-"%}
        {{ dietaMostrar }}
    {% endif %}
{% endblock %}
